@charset "UTF-8";
body, h1 {
    font-family: "Indie Flower", cursive;
}
body, html {
    height: 100%;
	min-height: 400px;
}
.bgimg {
    background-image: url("../img/dark-overlay.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimg2 {
	background-image: url("../img/hamilton.jpg");
	min-height: 100%;
	background-position: center;
	background-size: cover;
}